.item{
    height: 142px;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled {
    display: block;
}
.owl-carousel .owl-dots.disabled {
    display: block;
}
.carousel-image {
    transition: width 0.3s; /* Add a smooth transition effect */
  
    /* Define the initial width */
    width: 100%;
  
    /* Add a hover effect to increase the width */
    &:hover {
      width: 120%; /* Adjust the width increase as desired */
    }
  }
/* ################# Responsive ########################## */
@media screen and (max-width: 900px) {
    .item{
        height: 200px;
    }
}
@media screen and (max-width: 767px) {
    .item{
        height: 300px;
    }
}
@media screen and (max-width: 600px) {
    .item{
        height: 300px;
    }
}